page-create-profile {
    ion-content {
  background: linear-gradient(#f6f6f6);
  
      .titles {
        z-index: 11;
        margin-top: 12%;
        color: rgb(88, 88, 88);
        //text-shadow: 1px 1px 2px rgba(114, 114, 114, .3);
  
        h1 {
          font-size: 4rem;
          font-weight: 700;
        }
      }
  
      ion-slides {
        position: absolute;
        height: 50%;
      }
  
      .itemRound {
        border-radius: 5px;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
      }
  
      .tipsContainer {
        width: 100%;
        height: 3rem;
      }
  
      .tip {
        font-size: 1.5rem;
        font-weight: 500;
        color: #969696;
      }
  
      .name {
        font-weight: bold;
        text-transform: capitalize;
      }
    }
  
  }
  