page-profile {
  ion-content {
    background: linear-gradient(#f7f7f7);
  }

  .background {
    background: linear-gradient(rgba(174, 223, 255, 0.6)),url('../assets/imgs/back.jpg');
    background-size: cover;
    height: 50vh;
  }

  .profilePicture {
    width: 54vw;
    height: 54vw;
    margin: 2vh 23vw 4vh;
    border: 6px solid #ffffff;
    border-radius: 100%;
    box-shadow: 8px 10px 20px rgba(0, 0, 0, 0.295);
  }

  .changePhoto {
    top: 42vw;
    right: 18vw;
  }

  .profileContent {
    margin-top: -18vh;

    h1 {
      text-transform: capitalize;
      color: #383838;
      font-weight: bold;
    }

    .user-age {
      margin-top: -1%;
      font-size: 1.2em;
      color: #383838;
      font-weight: bolder;
    }

    p {
      color: #696969;
      font-weight: 500;
    }
  }

  .borderRadius {
    border-radius: 8px;
  }

}
